/* Write your code here: */
body > h1,h2 {
    color: blueviolet;
}

.box > p.done {
    color:red;
}

.list > li {
    color: blue;
}

.list > .done {
    color: green;
}

ul > p.done {
    font-size: 0.5rem;
}
